/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* setting font size for rem usage */
  font-size: 10px;
  font-family: "Rubik", sans-serif;
}

:root {
  --card-background: #dcf5e0;
  --card-color: #08150a;
}

/* ****************************************************
--------------CARD COMPONENTS-----------------------
**************************************************** */

.grid {
  display: grid;
}

.grid--3-cols {
  grid-template-columns: 1fr 1fr 1fr;
}

.card-component-section {
  background-color: var(--card-background);
  height: 100vh;
}

.card {
  width: 100px;
}

/* ****************************************************
-----------CARD COMPONENTS END----------------------
**************************************************** */
